<%= render 'shared/banner' %>
<div id="pageHr">
  <i><i>↓</i></i>
</div>
<div id="page">
  <%= render 'shared/barometer' %>
</div>
<div id="page">
  <div id="ajax-tabs">
    <ul class="nav nav-justified nav-tabs">
      <li>
        <%= link_to "All", "#all", data:{toggle: "tab"} %>
      </li>
      <li>
        <%= link_to "CNN", "#cnn", data:{toggle: "tab"} %>
      </li>
      <li>
        <%= link_to "FOX", "#fox", data:{toggle: "tab"} %>
      </li>
      <li>
        <%= link_to "NBC", "#nbc", data:{toggle: "tab"} %>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane" id="all">
      <%= render 'shared/global_daily_analysis' %>
    </div>
    <div class="tab-pane" id="cnn">
      <%= render 'shared/cnn_daily_analysis' %>
    </div>
    <div class="tab-pane" id="fox">
      <%= render 'shared/fox_daily_analysis' %>
    </div>
    <div class="tab-pane" id="nbc">
      <%= render 'shared/nbc_daily_analysis' %>
    </div>
  </div>
</div>

